---
import ASCIISiteTitle from './ASCIISiteTitle.astro';
import SocialIcons from 'virtual:starlight/components/SocialIcons';
import Search from 'virtual:starlight/components/Search';
import ThemeSelect from 'virtual:starlight/components/ThemeSelect';
---

<div class="header sl-flex">
	<div class="title-wrapper sl-flex">
		<ASCIISiteTitle {...Astro.props} />
	</div>
	
	<div class="sl-hidden md:sl-flex right-group">
		<div class="sl-flex social-icons">
			<SocialIcons {...Astro.props} />
		</div>
		<Search {...Astro.props} />
		<ThemeSelect {...Astro.props} />
	</div>
</div>

<style>
	/* Header styling is handled by custom.css for consistency with OpenCode */
</style>
